
.title {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #1eb7ee;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  margin: 0px;
  text-align: center;
  justify-content: center;
}

// .syk{
//   background: url(/src/components/images/LogoSikorsky.webp) no-repeat center bottom;
//   background-color: #1eb7ee;
// }






